:root {
    --bg-forecast:rgb(49, 62, 83);
}

.bg-cust-forecast {
    background-color: var(--bg-forecast);
}

.bg-cust-header {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(15, 1, 141), rgb(64, 0, 128));
}

.icon-size {
    height: 40px;
}
